.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  column-gap: 30px;
  margin-right: 20px;
  color: white;
}

.logo{
  position: relative;
  justify-content: start;
  flex-direction: row;
  
  float: right;
}